<button type="button" class="navbar-btn btn btn-primary" data-toggle="modal" data-target="#myModal">
  Tweet for me
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <%= form_tag('/todo_list_items/tweet', method: "get") do %>
        <div class="modal-body">
          <%= text_field_tag(:tweet_content) %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Post Tweet", class: "btn btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
